*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
    
}
header{
    text-align: center;
    font-size: 60px;
    padding: 20px;
    font-family: sans-serif;
    color: #000000;
    background: url(Images/test2.png) no-repeat;
}

.container{
    height: 85vh;
    width: 100%;
    background: #ebeef1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: whitesmoke;
}
button{
    font-size: 32px;
    font-weight: 500;
    padding: 20px;
    margin: 30px;
    width: 350px;
    background: #dbdee0;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    color: #00a037;
    box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16),
                -10px -10px -10px -1px rgba(255, 255, 255, 0.70);
}
button.bt2{
    color: #ed0000;
    box-shadow:inset 10px 10px 10px -1px rgba(10, 99, 169, 0.16),
    inset -10px -10px -10px -1px rgba(255, 255, 255, 0.70);

}
button:hover{
    border: 3px solid #00a037;
    letter-spacing: 3px;
    transition: 0.2s;
}
button.bt2:hover{
    border: 3px solid #ed0000;
    letter-spacing: 3px;
    transition: 0.2s;
}